.DS_Store
*.sublime-workspace
*.sublime-project

temp/*
uploads/*
media/*
emails/*
designs/*
tests/*

*.log

*index.php

# Ignore htaccess if it's got a filename (eg. multiple incomplete or not-working editions)
*.htaccess