body {
	font-family: 'Helvetica Neue', sans-serif;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
}

.header-omnibar {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
}
#omnisearch {
	box-sizing: border-box;
	width: 100%;
	height: 100%;

	background-color: #e5e5e5;
	border-left: 8px solid #fff;

	line-height: 48px;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 0.15rem;

	padding-left: 12px;
	padding-right: 12px;
}

#title-block {
	box-sizing: border-box;
	height: 100%;

	line-height: 48px;
	text-align: center;
	font-size: 1.8rem;
	letter-spacing: 0.5rem;

	background-color: #b2b2b2;
	color: #eee;
}
/*#search {
	box-sizing: border-box;
	height: 100%;
	background-color: #e5e5e5;
	border-left: 8px solid #fff;
}*/

#timeline {
	margin-top: 8px;
}
.entry {
	line-height: 0;
	width: calc(25% - 8px);
	margin-bottom: 6px;
}
.entry img {
	width: 100%;
	margin: 0;
	padding: 0;
}
.grid-sizer {
	width: calc(25% - 8px);
}


.imgview {
	margin-top: 8px;
}
.imgview * {
	float: left;
}

#taglist {
	list-style-type: none;
	text-transform: uppercase;

	font-size: 1.4rem;
}
.tag-item {
	line-height: 150%;
	letter-spacing: 0.3rem;
}



#new-memo:hover, .toggle:hover {
	cursor: pointer;
	color: #646464;
}

#new-memo-frame {
	box-sizing: border-box;
	background-color: #eee;

	position: fixed;
	width: 20%;
	top:0;
	bottom: 0;
	right: 0;

	z-index: 9999;

	padding-top: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;

	/*box-shadow: -2px 0px 4px rgba(11, 11, 11, 0.3);*/
}

#new-memo-frame  .toggle {
	position: absolute;
	right: 10px;
	top: 10px;
}
#toggle {
	display: none;
}
#new-memo-frame {
	right: -22%; /* must be the same as the width of the menu */
	transition: right 1s;
}
/* Showing the menu then the Checkbox is checked */
#toggle:checked + #new-memo-frame {
	right: 0%;
	transition: right 1s;
}



/* memo forms */
#new-memo-form input[type="text"] {
	width: 100%;
	margin: 0 auto;
	margin-top: 2rem;
	display: block;
	border: none;
	border-right:1px solid #111;
	border-bottom: 1px solid #111;
	height: 25px;
	margin-bottom: 30px;

	font-family: "Source Code Pro", monospace;
	font-size: 1.4rem;
	font-weight: 300;

	background-color: #eee;

}
#new-memo-form textarea {
	width: 100%;
	margin: 0 auto;
	display: block;
	border:none;
	border-right:1px solid #111;
	border-bottom: 1px solid #111;
	height: 300px;
	margin-bottom: 30px;

	font-family: "Source Code Pro", monospace;
	font-size: 1.4rem;
	font-weight: 300;

	background-color: #eee;
}
#new-memo-form input[type="submit"] {
	width: 40%;
	height: 50px;
	margin: 0 auto;
	display: block;
	border: none;
	background: #111;
	color: #fff;

	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 500;
	font-size: 1.6rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}
#new-memo-form input[type="submit"]:hover, #new-memo-form input[type="submit"]:focus {
	background-color: #646464;
	color: #eee;
	cursor: pointer;
}
#new-memo-form input[type="submit"]:active {
	background-color: #b2b2b2;
	color: #eee;
	cursor: pointer;
}


#memo-submit-result {
	text-align: center;
	font-size: 1.4rem;
	margin-top: 1rem;
}






/* view page */
.imgview img {
	max-width: 40%;
	margin-right: 8px;
}
#post-description {
	display: block;
	max-width: 40%;
	font-family: "Source Code Pro";
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 140%;
}