<!DOCTYPE html>
<html>
	<head>
		<title>IOOO | Forgot Password</title>

		<link rel="stylesheet" type="text/css" href="templates/css/grid.css">
		<link rel="stylesheet" type="text/css" href="templates/css/forms.css">
		<style type="text/css">
			#container {
				width: 800px;
				margin: 0 auto;
				margin-top: 100px;
			}
		</style>
	</head>
	<body>
		<div id="container" class="grid">
			<form action="forgot.php" method="POST" class="col-1-2">
				<p class="result">{{ response }}</p>
				
				<label>
					<span>E-mail</span>
					<input id="name" type="text" name="email" placeholder="email" />
				</label>
				<label>
					<span>&nbsp;</span>
					<input type="submit" class="button" name="submit-forgot" value="Send Reset Request" />
				</label>
			</form>
		</div>
	</body>
</html>